a:hover,
button:hover {
  text-decoration-skip-ink: none; 
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 30px;
  width: 1140px;
}

.result {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 711px;
  align-items: flex-start;
  gap: 16px;
}

.result__video-container {
  position: outside;
  width: 100%;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  border: none;

}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  height: 22px;
  line-height: auto;
  font-style: normal;
  font-weight: 400;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  width: 225px;
  height: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: auto;
  font-style: normal;
  appearance: none;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:hover {
  cursor: text;
}
.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-form__label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: fit-content;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.button {
  height: 34px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  appearance: none;
  cursor: pointer;
}
.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  width: 194px;
}
.content__details {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 399px;
}

.title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  font-style: normal;
  width: 259px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}
.content__list-container {
  height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
}
.content__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  position: relative;
}
.content__list-item {
  width: 100%;

}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
  padding: 0 3px; 
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.content__video-card {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 390px;
}
.content__card-link_current {
  background: #545050;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  width: 196px;
  gap: 6px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  white-space: nowrap;  
  overflow: hidden;  
  text-overflow: ellipsis;
  max-inline-size: 100%;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-position: center;
  background-size: cover;
}
.more-button {
  width: 390px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.result__video-container {
  position: relative;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}